[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/zsh/plugin/spaceship-prompt.git"]
	path = .config/zsh/plugin/spaceship-prompt.git
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule ".config/zsh/plugin/fast-syntax-highlighting.git"]
	path = .config/zsh/plugin/fast-syntax-highlighting.git
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/plugin/zsh-syntax-highlighting.git"]
	path = .config/zsh/plugin/zsh-syntax-highlighting.git
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
